aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
httpx
lyricsgenius
motor
opsai
pillow
pykeyboard
python-dotenv
pyyaml
pyproject.toml
requests
speedtest-cli
spotipy
tgcrypto==1.2.5
youtube-search
yt-dlp
py-tgcalls==0.8.6
unidecode
git+https://github.com/KurimuzonAkuma/pyrogram@dev
